.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 1.25em;
	font-weight: $fw-Semibold;
	height: 100px;
	position: sticky;
	top: 0;
	z-index: 100;
	.brand {
		font-weight: $fw-Bold;
		padding: 1.5em;
	}
	ul {
		display: flex;
		li {
			display: inline-block;
			.nav-link {
				margin: 1.5em;
				transition: 0.4s ease;
				&:hover,
				&:focus {
					color: $clr-accent;
				}
			}
			.dropdown-btn {
				background: transparent;
				border: none;
				color: $clr-secondary;
				font-size: 2em;
				display: none;
				margin: 0 0.75em;
			}

			.active {
				opacity: 0.6;
				cursor: not-allowed;
				&:hover,
				&:focus {
					color: currentColor;
				}
			}
		}
	}
}

footer {
	position: relative;
	height: 200px;
	width: 80%;
	max-width: 70rem;
	margin: 0 auto;
	background: $clr-primary;
	.footer {
		padding-top: 84px;
		text-align: center;
	}
	&::before {
		content: "";
		height: 1px;
		width: 100%;
		position: absolute;
		background-color: $clr-secondary;
		opacity: 0.1;
	}
}
