.mobile-nav {
  display: none;
  position: fixed;
  inset: 0;
  background: $clr-accent;
  height: 100vh;
  width: 100vw;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease;
  transform: translateX(200vw);
  ul {
    justify-content: space-between;
    text-align: center;
    width: 100%;
    li {
      padding: 2em 0;
      .mobile-nav-link {
        font-size: 3em;
        padding: 0.3em;
        &:hover {
          background: $clr-primary;
          border-radius: 50px;
          padding: 0.3em 1em;
        }
      }
      button {
        background: transparent;
        border: transparent;
        color: $clr-secondary;
        padding: 1em;
        cursor: pointer;
      }
    }
  }
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.25em;
  font-weight: $fw-Semibold;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 100;
  .brand {
    font-weight: $fw-Bold;
    padding: 1.5em;
  }
  ul {
    display: flex;
    li {
      display: inline-block;
      .nav-link {
        margin: 1.5em;
        transition: 0.4s ease;
        &:hover,
        &:focus {
          color: $clr-accent;
        }
      }
      .dropdown-btn {
        background: transparent;
        border: none;
        color: $clr-secondary;
        font-size: 2em;
        display: none;
        margin: 0 0.75em;
        cursor: pointer;
        &:hover {
          color: $clr-accent;
        }
      }

      .active {
        opacity: 0.6;
        cursor: not-allowed;
        &:hover,
        &:focus {
          color: currentColor;
        }
      }
    }
  }
}

footer {
  position: relative;
  width: 100%;
  padding: 40px;
  text-align: center;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    background: $clr-secondary;
    height: 1px;
    opacity: 0.3;
  }
}
