.site-wrap {
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
  min-height: calc(100vh - 200px);
  .map-title {
    width: fit-content;
  }
  .description {
    opacity: 0.8;
  }
  .game-wrapper {
    display: flex;
    .map-wrap {
      .controls {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        background-color: rgb(14, 18, 18);
        padding: 1em 0;
        .guess-box {
          width: 100%;
          padding-left: 1em;
          align-items: center;
          justify-content: space-between;
          display: flex;
          font-size: 1.25rem;
          .input-wrap {
            display: flex;
            width: 60%;
            #input {
              padding: 0.5em;
              width: 100%;
              border: none;
              font-size: 1em;
              border-radius: 0.5rem 0 0 0.5rem;
            }
            .guess {
              background-color: $clr-accent;
              color: inherit;
              border-radius: 0 0.5rem 0.5rem 0;
            }
          }
          .error-prompt {
            padding-inline: 1em;
            color: $clr-error;
          }
        }

        .reset {
          background-color: $clr-error;
          margin-left: auto;
        }
      }
      .map {
        height: 60vh;
        width: 60vw;
      }
    }
    .complete {
      .fi {
        border-radius: 3px;
      }
      font-size: 1.5rem;
      padding: 1em;
      .completed {
        .countries-complete {
          color: $clr-success;
        }
      }
      .uncompleted {
        .countries-uncomplete {
          color: $clr-error;
        }
      }
    }
  }
}

.link-para {
  padding-top: 1em;
  .link {
    padding: 1em 1.5em;
    margin-inline: 1em;
    background-color: $clr-accent;
    width: fit-content;
    display: inline-block;
  }
}
