@media screen and (max-width: 1300px) {
	.projects {
		.container {
			ul {
				width: 70%;
				li {
					&:nth-child(even) {
						margin-left: 0;
						text-align: right;
					}
					&:nth-child(odd) {
						margin-right: 0;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1050px) {
	.projects {
		.container {
			ul {
				width: 85%;
				li {
					.projects-feature {
						.feature-title {
							font-size: 2em;
						}
						.feature-subtitle {
							font-size: 1.5em;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 715px) {
	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 1.25em;
		font-weight: $fw-Semibold;
		height: 100px;
		position: sticky;
		top: 0;
		z-index: 100;
		.brand {
			font-weight: $fw-Bold;
			padding: 1.5em;
		}
		ul {
			li {
				display: inline-block;
				.nav-link {
					display: none;
					&:hover,
					&:focus {
						color: $clr-accent;
					}
				}
				.dropdown-btn {
					display: block;
				}
				.active {
					opacity: 0.6;
					cursor: not-allowed;
					&:hover,
					&:focus {
						color: currentColor;
					}
				}
			}
		}
	}
	.projects {
		.container {
			.projects-title {
				font-size: 3em;
			}
			ul {
				width: 100%;
				li {
					.projects-feature {
						.feature-title {
							font-size: 2em;
						}
						.feature-subtitle {
							font-size: 1.5em;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 510px) {
	.socials-sidebar {
		display: none;
	}
	.projects {
		.container {
			.projects-title {
				font-size: 2.5em;
			}
			ul {
				width: 100%;
				li {
					.projects-feature {
						.feature-title {
							font-size: 1.5em;
						}
						.feature-subtitle {
							font-size: 1em;
						}
					}
				}
			}
		}
	}
}
