$clr-primary: #0e1212;
$clr-secondary: #dbdbdb;
$clr-accent: #682ae9;

$ff-primary: "Inter", sans-serif;
$ff-secondary: "Vujahday Script", cursive;

$fw-Bold: 700;
$fw-Semibold: 600;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

html {
	scrollbar-width: none;
}

body {
	font-family: $ff-primary;
	background: $clr-primary;
	color: $clr-secondary;
	overflow-x: hidden;
}
main {
	min-height: calc(100vh - 200px);
}

strong {
	color: $clr-accent;
	position: relative;
	text-shadow: $clr-accent 0px 0px 88px;
}

a {
	color: $clr-secondary;
}

.flex {
	display: flex;
}

.container {
	width: 80%;
	max-width: 70rem;
	margin: 0 auto;
	min-height: calc(100vh - 200px);
}
