*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  scrollbar-width: none;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  background: #0e1212;
  color: #dbdbdb;
  overflow-x: hidden;
}

main {
  min-height: calc(100vh - 200px);
}

strong {
  color: #682ae9;
  position: relative;
  text-shadow: #682ae9 0px 0px 88px;
}

a {
  color: #dbdbdb;
}

.flex {
  display: flex;
}

.container {
  width: 80%;
  max-width: 70rem;
  margin: 0 auto;
  min-height: calc(100vh - 200px);
}

.main-para {
  width: 45%;
  text-align: justify;
}

.title {
  font-size: 3.725rem;
  padding-block: 1em;
}

.button {
  border: none;
  border-radius: 100em;
  color: white;
  padding: 0.5em 1em;
  font-size: 1em;
  text-transform: capitalize;
  font-weight: bolder;
  cursor: pointer;
  display: flex;
}
.button:hover {
  transform: scale(1.07);
}

.error {
  background-color: rgb(255, 82, 82);
  color: #0e1212;
}

.mobile-nav {
  display: none;
  position: fixed;
  inset: 0;
  background: #682ae9;
  height: 100vh;
  width: 100vw;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease;
  transform: translateX(200vw);
}
.mobile-nav ul {
  justify-content: space-between;
  text-align: center;
  width: 100%;
}
.mobile-nav ul li {
  padding: 2em 0;
}
.mobile-nav ul li .mobile-nav-link {
  font-size: 3em;
  padding: 0.3em;
}
.mobile-nav ul li .mobile-nav-link:hover {
  background: #0e1212;
  border-radius: 50px;
  padding: 0.3em 1em;
}
.mobile-nav ul li button {
  background: transparent;
  border: transparent;
  color: #dbdbdb;
  padding: 1em;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.25em;
  font-weight: 600;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.navbar .brand {
  font-weight: 700;
  padding: 1.5em;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  display: inline-block;
}
.navbar ul li .nav-link {
  margin: 1.5em;
  transition: 0.4s ease;
}
.navbar ul li .nav-link:hover, .navbar ul li .nav-link:focus {
  color: #682ae9;
}
.navbar ul li .dropdown-btn {
  background: transparent;
  border: none;
  color: #dbdbdb;
  font-size: 2em;
  display: none;
  margin: 0 0.75em;
  cursor: pointer;
}
.navbar ul li .dropdown-btn:hover {
  color: #682ae9;
}
.navbar ul li .active {
  opacity: 0.6;
  cursor: not-allowed;
}
.navbar ul li .active:hover, .navbar ul li .active:focus {
  color: currentColor;
}

footer {
  position: relative;
  width: 100%;
  padding: 40px;
  text-align: center;
}
footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  background: #dbdbdb;
  height: 1px;
  opacity: 0.3;
}

.fade-in {
  opacity: 0;
  transition: 500ms ease-in;
}
.fade-in.appear {
  opacity: 1;
}

.from-left {
  transform: translateX(-50%);
}

.from-right {
  transform: translateX(50%);
}

.from-left,
.from-right {
  transition: transform 700ms cubic-bezier(0.57, 0.21, 0.69, 1.25), opacity 1s ease;
}
.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}
.shake {
  animation: shake 0.2s ease-in-out 0s 2;
}

.site-wrap {
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
  min-height: calc(100vh - 200px);
}
.site-wrap .map-title {
  width: -moz-fit-content;
  width: fit-content;
}
.site-wrap .description {
  opacity: 0.8;
}
.site-wrap .game-wrapper {
  display: flex;
}
.site-wrap .game-wrapper .map-wrap .controls {
  display: flex;
  align-items: center;
  background-color: rgb(14, 18, 18);
  padding: 1em 0;
}
.site-wrap .game-wrapper .map-wrap .controls .guess-box {
  width: 100%;
  padding-left: 1em;
  align-items: center;
  justify-content: space-between;
  display: flex;
  font-size: 1.25rem;
}
.site-wrap .game-wrapper .map-wrap .controls .guess-box .input-wrap {
  display: flex;
  width: 60%;
}
.site-wrap .game-wrapper .map-wrap .controls .guess-box .input-wrap #input {
  padding: 0.5em;
  width: 100%;
  border: none;
  font-size: 1em;
  border-radius: 0.5rem 0 0 0.5rem;
}
.site-wrap .game-wrapper .map-wrap .controls .guess-box .input-wrap .guess {
  background-color: #682ae9;
  color: inherit;
  border-radius: 0 0.5rem 0.5rem 0;
}
.site-wrap .game-wrapper .map-wrap .controls .guess-box .error-prompt {
  padding-inline: 1em;
  color: rgb(255, 82, 82);
}
.site-wrap .game-wrapper .map-wrap .controls .reset {
  background-color: rgb(255, 82, 82);
  margin-left: auto;
}
.site-wrap .game-wrapper .map-wrap .map {
  height: 60vh;
  width: 60vw;
}
.site-wrap .game-wrapper .complete {
  font-size: 1.5rem;
  padding: 1em;
}
.site-wrap .game-wrapper .complete .fi {
  border-radius: 3px;
}
.site-wrap .game-wrapper .complete .completed .countries-complete {
  color: rgb(0, 175, 0);
}
.site-wrap .game-wrapper .complete .uncompleted .countries-uncomplete {
  color: rgb(255, 82, 82);
}

.link-para {
  padding-top: 1em;
}
.link-para .link {
  padding: 1em 1.5em;
  margin-inline: 1em;
  background-color: #682ae9;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
}

.contact .container {
  flex-direction: column;
  justify-content: center;
}
.contact .container .contact-title {
  font-size: 3em;
  display: inline;
  width: 60%;
  text-align: center;
  padding-bottom: 0.666666em;
}
.contact .container .form {
  background: #0c0f0f;
  height: 600px;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  margin: 20px auto;
  padding: 2em 0;
}
.contact .container .form .form-input {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  color: white;
  background: rgba(104, 42, 233, 0.2);
  width: 60%;
  height: 50px;
  border: none;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
}
.contact .container .form .form-input:nth-child(5) {
  margin-top: 0;
}
.contact .container .form .form-input:nth-child(7) {
  margin-bottom: 0;
}
.contact .container .form .text-area {
  height: 200px;
  resize: none;
}
.contact .container .form .submit-btn {
  position: relative;
  display: inline-block;
  color: #dbdbdb;
  font-family: "Inter", sans-serif;
  background-color: #682ae9;
  font-size: 1.5em;
  padding: 0.5em 1em;
  border-radius: 2em;
  border: none;
  transition: 0.4s ease;
  overflow: hidden;
  margin-top: 1.333334em;
  cursor: pointer;
}
.contact .container .form .submit-btn:disabled {
  pointer-events: none;
}
.contact .container .form .submit-btn::after {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #3e109d;
  transition: 0.2s ease-in-out;
  z-index: -1;
}
.contact .container .form .submit-btn:hover, .contact .container .form .submit-btn:focus {
  transform: scale(1.07);
}
.contact .container .form .submit-btn:hover::after, .contact .container .form .submit-btn:focus::after {
  transform: translateY(-100%);
}

.success .container {
  flex-direction: column;
  align-items: center;
}
.success .container .success-title {
  padding-top: 1em;
  font-size: 6em;
}
.success .container .success-message {
  font-size: 2em;
}
.success .container .mail-icon {
  font-size: 20em;
  color: #682ae9;
}

.socials-sidebar {
  font-size: 3em;
  color: #682ae9;
}
.socials-sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socials-sidebar ul li {
  padding: 0.25em;
}
.socials-sidebar ul li a {
  transition: 0.3s ease;
  opacity: 0.2;
}
.socials-sidebar ul li a i {
  font-size: 1em;
  color: #682ae9;
}
.socials-sidebar ul li a:hover, .socials-sidebar ul li a:focus {
  opacity: 1;
}

.hero {
  height: calc(100vh - 100px);
  background: #0e1212;
}
.hero .container {
  height: calc(100vh - 200px);
  align-items: center;
}
.hero .container .hero-content {
  display: block;
  width: 100%;
  position: relative;
}
.hero .container .hero-content .hero-title {
  position: relative;
  font-size: 3.75em;
  font-weight: bold;
  margin-bottom: 50px;
  z-index: 100;
}
.hero .container .hero-content .hero-subtitle {
  position: absolute;
  font-size: 3em;
  font-family: "Vujahday Script", cursive;
  opacity: 0.3;
  top: 40px;
  left: 50px;
  z-index: 20;
  white-space: nowrap;
}
.hero .container .hero-content .hero-CTA-btn {
  position: relative;
  display: inline-block;
  font-size: 1.5em;
  padding: 0.5em 1em;
  border-radius: 2em;
  background-color: #682ae9;
  transition: 0.4s ease;
  overflow: hidden;
}
.hero .container .hero-content .hero-CTA-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background-color: #3e109d;
  transition: 0.2s ease-in-out;
  z-index: -1;
}
.hero .container .hero-content .hero-CTA-btn:hover, .hero .container .hero-content .hero-CTA-btn:focus {
  transform: scale(1.07);
}
.hero .container .hero-content .hero-CTA-btn:hover::after, .hero .container .hero-content .hero-CTA-btn:focus::after {
  transform: translateX(100%);
}
.hero .container .hero-content i {
  padding-left: 0.2em;
}

.projects {
  height: -moz-fit-content;
  height: fit-content;
  background-color: #0e1212;
}
.projects .container {
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.projects .container .projects-title {
  font-size: 3.75em;
  padding: 1em 0;
}
.projects .container ul {
  width: 60%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.projects .container ul li {
  font-weight: 700;
  padding: 2em 0;
  width: 100%;
}
.projects .container ul li:nth-child(even) {
  margin-left: 10em;
  text-align: right;
}
.projects .container ul li:nth-child(odd) {
  margin-right: 10em;
}
.projects .container ul li .projects-feature {
  text-shadow: 2px 2px black;
  aspect-ratio: 7/4;
  transition: 0.3s ease;
  display: inline-block;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 1em;
  border: 1px solid #682ae9;
}
.projects .container ul li .projects-feature .feature-title {
  color: #dbdbdb;
  font-size: 3em;
  padding: 1em 1em 0.2em 1em;
}
.projects .container ul li .projects-feature .feature-subtitle {
  font-size: 2rem;
  font-weight: 600;
  color: #dbdbdb;
  padding: 0 1.8em;
}
.projects .container ul li .projects-feature::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgb(104, 42, 233) 0%, rgba(0, 212, 255, 0) 100%);
  opacity: 0.5;
  transition: 0.4s ease;
  z-index: -2;
}
.projects .container ul li .projects-feature:hover, .projects .container ul li .projects-feature:focus {
  transform: scale(1.05);
}
.projects .container ul li .projects-feature:hover::after, .projects .container ul li .projects-feature:focus::after {
  transform: translateX(100%);
}

.project-map {
  background-image: url(../img/map@2x.jpg);
  background-size: cover;
}

.project-website {
  background-image: url(../img/website@2x.jpg);
  background-size: cover;
}

.about .container {
  flex-direction: column;
}
.about .container .main-para:nth-child(odd) {
  margin-left: auto;
}

@media screen and (max-width: 1300px) {
  .projects .container ul {
    width: 70%;
  }
  .projects .container ul li:nth-child(even) {
    margin-left: 0;
    text-align: right;
  }
  .projects .container ul li:nth-child(odd) {
    margin-right: 0;
  }
}
@media screen and (max-width: 1050px) {
  .projects .container ul {
    width: 85%;
  }
  .projects .container ul li .projects-feature .feature-title {
    font-size: 2em;
  }
  .projects .container ul li .projects-feature .feature-subtitle {
    font-size: 1.5em;
  }
  .contact .container .contact-title {
    content: "contact";
    font-size: 2em;
  }
}
@media screen and (max-width: 975px) {
  .site-wrap {
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
    min-height: calc(100vh - 200px);
  }
  .site-wrap .map-title {
    font-size: 1.5em;
  }
  .site-wrap .game-wrapper {
    display: flex;
    flex-direction: column;
  }
  .site-wrap .game-wrapper .map-wrap .controls {
    flex-direction: column;
    align-items: start;
    padding: 0.75em 0;
  }
  .site-wrap .game-wrapper .map-wrap .controls .difficulty {
    padding-bottom: 0.5em;
  }
  .site-wrap .game-wrapper .map-wrap .controls .guess-box {
    padding: 0;
    display: flex;
  }
  .site-wrap .game-wrapper .map-wrap .controls .guess-box .input-wrap {
    width: 100%;
  }
  .site-wrap .game-wrapper .map-wrap .controls .guess-box .input-wrap .input {
    width: 100%;
  }
  .site-wrap .game-wrapper .map-wrap .controls .reset {
    display: none;
  }
  .site-wrap .game-wrapper .map-wrap .map {
    width: 100%;
  }
  .site-wrap .game-wrapper .complete {
    padding: 0.5em 0 0.5em 0;
  }
  .site-wrap .game-wrapper .complete .completed {
    font-size: 0.75em;
  }
  .site-wrap .game-wrapper .complete .uncompleted {
    font-size: 0.75em;
  }
}
@media screen and (max-width: 715px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25em;
    font-weight: 600;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .navbar .brand {
    font-weight: 700;
    padding: 1.5em;
  }
  .navbar ul li {
    display: inline-block;
  }
  .navbar ul li .nav-link {
    display: none;
  }
  .navbar ul li .nav-link:hover, .navbar ul li .nav-link:focus {
    color: #682ae9;
  }
  .navbar ul li .dropdown-btn {
    display: block;
  }
  .navbar ul li .active {
    opacity: 0.6;
    cursor: not-allowed;
  }
  .navbar ul li .active:hover, .navbar ul li .active:focus {
    color: currentColor;
  }
  .projects .container .projects-title {
    font-size: 3em;
  }
  .projects .container ul {
    width: 100%;
  }
  .projects .container ul li .projects-feature .feature-title {
    font-size: 2em;
  }
  .projects .container ul li .projects-feature .feature-subtitle {
    font-size: 1.5em;
  }
  .contact .container .form {
    background: #0c0f0f;
    height: 600px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    margin: 20px auto;
    padding: 2em 0;
  }
  .contact .container .form .form-input {
    width: 80%;
  }
}
@media screen and (max-width: 510px) {
  .hero .container {
    flex-direction: column;
    justify-content: center;
  }
  .socials-sidebar ul {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
  }
  .projects .container .projects-title {
    font-size: 2.5em;
  }
  .projects .container ul {
    width: 100%;
  }
  .projects .container ul li .projects-feature .feature-title {
    font-size: 1.5em;
  }
  .projects .container ul li .projects-feature .feature-subtitle {
    font-size: 1em;
  }
  .success .container {
    justify-content: center;
  }
  .success .container .success-title {
    font-size: 3em;
    padding-top: 0;
  }
  .success .container .success-message {
    font-size: 1em;
  }
  .success .container .mail-icon {
    font-size: 10em;
  }
  .contact .container .contact-title {
    content: "contact";
    font-size: 1.9em;
  }
}/*# sourceMappingURL=style.css.map */